<section class="container-fluid" id="signUp">  
        <div class="row">
            <div class="col-md-3 m-auto p-5 my-5">
                <div class="card p-3 shadow-sm border-0">
                    <div class="card-header bg-white border-0">
                        <h5 class="card-title text-center text-primary">E-Book Sign Up</h5>
                    </div>
                    <div class="card-body">
                        <form action="">                         
                            <div class="mb-3">
                                <label for="" class="form-label small text-muted">First Name</label>
                                <input type="text" class="form-control shadow-sm rounded-0" placeholder="John@email.com">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label small text-muted">Last Name</label>
                                <input type="text" class="form-control shadow-sm rounded-0" placeholder="John@email.com">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label small text-muted">City</label>
                                <input type="text" class="form-control shadow-sm rounded-0" placeholder="John@email.com">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label small text-muted">Email Address</label>
                                <input type="email" class="form-control shadow-sm rounded-0" placeholder="John@email.com">
                            </div>
                            <div class="mb-3">
                                <label class="form-label small text-muted">Password</label>
                                <input type="password" class="form-control shadow-sm rounded-0" placeholder="********">                             
                            </div>     
                            <div class="mb-3">
                                <label class="form-label small text-muted">Confirm Password</label>
                                <input type="password" class="form-control shadow-sm rounded-0" placeholder="********">                             
                            </div>                         
                            <button type="submit" class="btn bg-primary text-white w-100 rounded-0 shadow">Sign In</button>
                        </form>
                    </div>
                    <div class="card-footer bg-white border-0 text-center py-0">
                        <a href="#" class="text-center text-primary m-0">I'm new user</a>
                    </div>
                </div>
            </div>
        </div>    
</section>