.e-book { 
   width: 350px;
  .card {
   transition: transform 1s;
 
   &:hover {
     transform: scale(1.02, 1.02);
   }
   img {
      height: 350px !important;
   }
   .wishlist-select-card {
     fill: #f05fa3;
   }
   span {
     cursor: pointer;
   }
 }
 
}
